* {
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #cecac9;

}

#header {
    padding: 20px;
    background-color: #726e6e;
    color: #ffffff;
}

h1 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    font-size: 35px;
}


a {
    padding: 20px;
    text-align: right;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;

}