* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ddd9dc;
    padding: 0px;
    margin: 0px;
}

#header {
    padding: 2px;
    border-style: solid;
    border-width: 8px;
    border-right: 0px;
    border-left: 0px;
    border-bottom-color: #581845;
    border-top-color: black;
    text-indent: 10px;
    background-color: #726e6e;
    color: #ffffff;
}

#header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-weight: bolder;
    font-size: 18px;
}

#header nav ul {
    list-style-type: none;
}

#header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

h1 {
    color: #312c2f;
    display: inline-block;
    font-family: 'Style Script', cursive;
    font-size: 35px;
    
}

a {
    text-decoration: none;
    color: #312c2f;
}

.website-name {
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
}

.coming-soon {
    position: relative;
    border-style: solid;
    border-width: 15px;
}

.content {
    font-size: 15px;
    padding: 20px;
}

.footer {
    text-align: center;
    padding: 0px;
    background-color: rgb(244, 240, 231);
}

.container {
    padding: 60px;
    background-color: rgb(244, 240, 231);
}

.contact {
    font-size: 25px;
    padding: 35px;
    background-color: rgb(244, 240, 231);
}

.copyright {
    background-color: rgb(168, 86, 143); 
    padding: 20px;
    position: static;
    height: 75px;
    border: solid;
    border-width: 8px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #581845;
    
}